# Файлы и директории операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
# .vscode (добавлен в git в качестве примера демо проекта)

# Вспомогательные файлы
*.log*
node_modules/

# Директория с собранными файлами проекта
build/

# Генерация моков
mocks.json

# Директория c загруженными фотографиями
src/express/upload/img/*.*
!src/express/upload/img/.gitkeep

# Файл с переменными окружения
# .env (добавлен в git в качестве примера демо проекта)
